<h1>Редактирование профиля</h1>

<form method="post">
    {% csrf_token %}
    <p>
        <label for="first_name">Имя:</label><br>
        <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
    </p>
    <p>
        <label for="last_name">Фамилия:</label><br>
        <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
    </p>
    <p>
        <label for="email">Email:</label><br>
        <input type="email" name="email" id="email" value="{{ user.email }}">
    </p>
    <button type="submit">Сохранить изменения</button>
</form>

<p><a href="{% url 'user_profile' user.username %}">Отмена</a></p>
