# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Виртуальное окружение
venv/
env/
.venv/

# Файлы IDE
.idea/
.vscode/
*.swp

backup
test2.py
Развитие итогового проекта 
Мини-курсовой проект